body {
  margin: 0;
}

.paragraph1 {
  display: block;
  padding-bottom: 10px;
}

.paragraph2 {
  display: block;
  padding-bottom: 10px;
}

.paragraph3 {
  display: block;
  padding-bottom: 10px;
}

.paragraph4 {
  display: block;
  padding-bottom: 10px;
}

.set {
  margin-bottom: 20px;
}
